{% extends "layout.html" %}

{% block body %}

        <p class="lead">About This Project</p>
        <p class="">I started this project for two reasons:
        <ol> <li> To learn more about using Flask and making API calls through OAuth2</li>
            <li> To get all my Foursquare history in a JSON format to do my own side projects and analytics</li>
        </ol>
        </p>
        <p> I hope this project helps other Foursquare users download all their checkin history. From my own research, 
        it seems that previous projects to obtain all the history hasn't kept up-to-date with the Foursquare API updates which
        now require OAuth2. </p>
        <p> You can get all the code for this project at my GitHub page (coming soon, with proper write up). 
       
        </p>



<br/>
{% endblock %}
